.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.btns{
    gap: 23px;
}

.btns button{
    color: rgb(223 189 214);
    background-color: white;
    border: none;
    outline: none;
    border-radius: 23px;
    padding: 5px 25px;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.btns button:hover{
   background-color: antiquewhite;
    
}

.bg-grey{
    background-color: rgb(41, 39, 53);
}